:root {
  --col-head-icon-size: 20px;
}

.ant-table-column-title {
  font-size: var(--col-head-icon-size);
}

.anticon {
  font-size: var(--col-head-icon-size) !important;
}

.ant-table-tbody {
  font-size: 16px;
}

.ant-table table {
  text-align: center !important;
}

.ant-table-thead > tr > th {
  text-align: center !important;
}

.ant-page-header-heading-title {
  font-size: 25px;
}
